.ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 15px; }

/* navigation color style
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #E6E6E6; background: url(../img/common/nav-grey.gif) repeat-x; font-weight: bold; color: #1c94c4;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: url(../img/common/nav-orange.gif) repeat-x ;font-weight: bold; color: white;border: 1px solid #E6E6E6;}/*hightlight orange*/
.ui-state-hover a, .ui-state-hover a:hover { color: white; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background: url(../img/common/nav-blue.gif) repeat-x ; font-weight: bold; color: #444444;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: white; text-decoration: none;}
.ui-widget :active { outline: none;}
.ui-widget-content { border: 1px solid #dddddd; color: #333333; }


/* navigation style
----------------------------------*/
.ui-accordion { width:230px; margin:0;}
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 0; zoom: 1;}
.ui-accordion .ui-accordion-li-fix { display: inline;}
.ui-accordion .ui-accordion-header-active { border-bottom: 0;}
.ui-accordion .ui-accordion-header a { display: block; font-size: 15px;padding: .5em .5em .5em .7em;}
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.1em;text-align:left;}
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px;}
.ui-accordion .ui-accordion-content { padding: 0 ;background-color:#F7F7F7;}
.ui-accordion .ui-accordion-content-active { display: block ; }

/* navigation icon style */
.ui-icon { width: 18px; height: 18px;}
.ui-state-default .ui-icon { background-image: url(../img/common/nav-expand-green.gif); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../img/common/nav-expand-blue.gif); }
.ui-state-active .ui-icon {background-image: url(../img/common/nav-collapse-arrow.gif); }

/* navigation icon position */
.ui-icon-triangle-1-s { background-position:  0 0; }
.ui-icon-triangle-1-e { background-position: 0; }

/* ------ menu css (start)--------*/

#accordion {
	list-style: none;
	display:inline;
	float:left;
	/*font-size:13px;*/
}

#accordion ul {
	background-color: #F7F7F7;
	display: block;
	font-size: 13px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#accordion li {
	border-bottom:1px solid #E1E1E1;
	padding: .5em 0 .5em 2.5em;
	text-align: left;
	text-decoration: none;
	_height: 25px;
	_padding: 5px 0 0 2.2em;
}
#accordion li a {
	color: #666666;
	text-decoration: none;
	display: block;
	outline:0;
}

#accordion li a:hover {
	color: #0088CC;
	font-weight: bold;
	text-decoration: none;
	outline:0;
}

.nav_bg {
	background-image: url(../img/common/nav_highlight.gif);
	background-repeat: repeat-x;
	font-weight:bold;
	background-position: left bottom;
}
/* ------ menu css (end)--------*/
