html{
	width:100%;
}
body {
	background-color: #FFFFFF;
	font-family:Lucida Sans Unicode,Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 13px;
	font-weight: normal;
	text-align:center;
	color: #656D74;
	position: relative;
	height: 100%;
	width:100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: medium none;
}

/* ------ header css style (start)--------*/
#headerwrap {
	width:100%;
	height:60px;
	margin:0;
	background-color:#FFFFFF;
	overflow:hidden;
}
#header {
	width:100%;
	height:50px;
	background-image: url(../img/common/header-bg.gif);
	background-repeat: repeat-x;
	position:relative;
}
#header h1{
	height: 50px;
    left: 8em;
    position: absolute;
    top: 5px;
	margin:0;
	font-size:26px;
}
#header_shadow {
	width:100%;
	height:10px;
	margin:0;
	padding:0;
	background-image: url(../img/common/header-shadow.gif);
	background-repeat: repeat-x;
}
div#logo {
	background: url(../img/common/logo.gif) no-repeat ;
	height: 50px;
	width:130px;
	margin:0 auto auto 1ex;
	cursor:pointer;
}
ul#toolbar {
	height: 30px;
    list-style: none outside none;
    position: absolute;
    right: 0;
    top: 0;
    *top: 1em;/*for IE7*/
    _top: 1em;/*for IE6*/
}
li#toolbar_logout {
	right:0;
	text-align:right;
	position:absolute;
	vertical-align:baseline;
}
li#toolbar_logout span {
	margin-right:2em;
	width:80px;
	height:20px;
	display:block;
	color:#205EB9;
	font-weight:bold;
	text-decoration:none;
	background:url(../img/common/top-linkarrow.gif) no-repeat 0.8em 1px;
	cursor: pointer;
}

li#toolbar_logout span:hover {
	text-decoration:underline;
}
#toolbar_user {
	margin-right:10em;
	padding:0;
}
/* ------ header css style (end)--------*/


/* ------------------- content css (start)-------------------------*/
div#main_content{
	width:80%;
	height:500px;
	float:right;
	display:inline;
	margin:2em 2em 0 0;
	position:absolute;
}

/* ------ upper icon css (start)--------*/
div#top_area{
	overflow: visible;
}
ul#upper{
	list-style-type: none;
    padding:0 0 0 .5em;
	margin:0;
	position:relative;
	left:0;
	top:5px;
	*top:1em ; /*for IE 7*/
	_top:1em ; /*for IE 6*/
	height:80px \9;  /*for IE*/
}
ul#upper li{
	float:left;
	display: inline-block;
	list-style: none outside none;
	color: white;
	text-align: center;
	text-decoration: none;
	margin-left:1.5em;
	margin-left:2em \9; /*for IE*/
}
ul#upper li span {
	background: url(../img/common/reflection.png) no-repeat;
	width:80px ;
	height:25px;
	height:35px \9; /*for IE*/
	left: 8px;
    position: relative;
	left: 0px \9; /*for IE*/
	background: url(../img/common/reflection-ie.png) no-repeat \9; /*for IE important*/
	display: block;
}
.active_cube_shadow{
	background: url(../img/common/reflection_cube.png) no-repeat !important;
	background: url(../img/common/reflection_cube.png) no-repeat !important \9; /*for IE important*/
	width:80px ;
	height:35px;
}
.imagelink{
	width:80px ;
	height:85px;
	background-repeat: no-repeat;
	left: 9px;
    position: relative;
    top: -1px;
	left: 0px \9; /*for IE*/
}
.upper_icon_font{
	padding-top:6.6em;
	color: white;
	text-align: center;
	font-size:10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ .upper_icon_font {padding-top:5.5em;} }/*for chrome*/
.list{
	background-image: url(../img/common/list.png);
}
.list a, .create a, .policy a {
	text-decoration:none;
}
.create {
	background-image: url(../img/common/create.png);
}
.policy{
	background-image: url(../img/common/configure.png);
}
.cube_ring{
	top:-8px;
	background-image: url(../img/common/btn-active.gif);
	background-repeat:no-repeat;
	width:100px;
	height:105px;
	position:absolute;
	margin-left:-10px \9; /*for ie*/
}
/* ------ upper icon css (end)--------*/

/* ------ inner content for basic table (start)--------*/
.inner_content_basictb{
	border:0 none;
	height:100%;
	width:100%;
	min-width:600px;
	background:url(../img/common/list-content-bg.gif) repeat-x ;
	_width:600px;
	_float:left;/*for IE6*/
}
.inner_content_basictb h2{
	color: white;
	font-size: 16px;
    font-weight: bold;
    padding:3px 0 5px 1em ;
	margin:0;
	text-align:left;
}
/* ------ inner content for basic table (end)--------*/

/* ------ inner content for datatables (start)--------*/
.inner-south{
	_background:url(../img/common/list-content-bg.gif) repeat-x ;/*for IE6*/
}
.inner-single{
	_background:url(../img/common/list-content-bg.gif) repeat-x ;
}
.inner_content{
	border:0 none;
	height:100%;
	width:100%;
	min-width:1150px;
	background:url(../img/common/list-content-bg.gif) repeat-x ;
	_min-width:expression( document.body.clientWidth +'px');
	_float:left;/*for IE6*/
}
.inner_content  h2{
    color: white;
	font-size: 16px;
    font-weight: bold;
    padding:3px 0 5px 1em ;
	margin:0;
	text-align:left;
}
/* ------ inner content for datatables (end)--------*/


/*-------- contacts_table css (start) --------*/
#contacts_tb{
	left:0;
	position:absolute;
	margin:0 0 0 3em;
}
.resolvedPolicy{
	left:0;
	position:absolute;
	margin:0 0 0 3em;
	top:7em\9;
}
.contacts_tb_required{
	left:3em;
	position:absolute;
	margin:3em 0 0 0;
	/*-- for IE6 --*/
	_margin:0;
	_top:6em;
	_left:2em;
}
.contacts_left_td{
    color:#0088CC;
    text-align:left;
	padding:1em 0 0 1.5em;
	vertical-align:top;
	font-weight:bold;
}
.contacts_left_td_required{
	color:#0088CC;
    text-align:left;
	padding:1em 0 0 .7em;
	vertical-align:top;
	font-weight:bold;
}
.contacts_right_td{
    padding:1em 0 0 .5em;
	text-align:left;	
}
.contacts_btn{
    padding: 1em 0 0 11.5em;
    text-align: left;
	[;padding: 1.5em 0 0 12em;] /*for IE6.7 chrome*/
}
.contacts_policy_btn{
    padding: 1.5em 0 0 3em;
	text-align: left;
	[;padding: 1.5em 0 0 3em;] /*for IE6.7 chrome*/
	[;text-align: left;] /*for IE6.7 chrome*/
}
.btn_blue75{
   background:url(../img/common/btn-blue.png) no-repeat;
   width:75px;
   height:25px;
   border: none;
   color:white;
   font-size:14px;
   font-family:Lucida Sans Unicode;
}
.btn_grey75{
   background:url(../img/common/btn-grey.gif) no-repeat;
   width:75px;
   height:25px;
   border: none;
   color:#0088CC;
   margin:0 0 0 3em;
   font-size:14px;
   font-family:Lucida Sans Unicode;
}
.required_mark{
	border-bottom: 1px solid #97A5B5;
	left:4em;
    position: absolute;
    text-align: left;
    width: 600px;
    color:black;
    padding-bottom: 5px;
    *padding-top:1.5em; /*for IE7*/
    /*-- for IE6  --*/
    _position:relative;
    _padding-top:1em;
    _left:3em;   
}
.searchablestar_mark{
	color:#F88017;
	font-weight:bold;
}
.single_row{
	padding:5px 0 0 13.5em;
	text-align:left;
}
/*-------- user_group_table css (end) --------*/

.btn_group_list{
   background:url(../img/common/btn-group-list.gif) no-repeat;
   width:170px;
   height:25px;
   border: none;
   color:#0088CC;
   margin:0 0 0 3em;
   font-size:14px;
   font-family:Lucida Sans Unicode;
}
.liststyle{
 	margin: 0.5em 0 0 2.5em;
 }
 
/* ------ service overview css (start) -------*/
#welcome_service{
	width:100%;
}
.static_info  {
	color:#0060A4;
	font-size:16px;
	text-decoration:none;
	list-style-type:none;
	padding:0;
	margin:0 0 0 1ex;
	text-align:left;
}
.static_info li{
	background:url(../img/common/overview_arrow.png) no-repeat 1.4em 1.5em;
	padding: 1em 0 0 2.5em;
}
/* ------ service overview css (end) ----------*/



/* ------ footer copyright css -------*/
#sep_line {
	height: 2px;
	background-color: #95BAFF;
	position: relative;
	width: 100%;
	font-size: 0px;
	clear:both;
	top:5em;
}

/* ------ searchable column span css  -------*/
.searchable_mark{
	padding: 0 0 1ex 1em;
	float:left;
	color:black;
}

/* ------ admin history css (start) --------- */
.historytb_box{
	margin-top:1ex!important;
	*margin-top:10.5em!important;
}
.search_list{
	color: #0088CC;
    left: 0;
    list-style: none outside none;
    margin: 1em 0 0 2.5em;
    [;margin: 2em 0 0 2.5em;] /*for IE6.7 chrome*/
    position: absolute;
    text-align: left;
    width:570px;
    border:1px solid #cccccc;
    border-radius:5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #cccccc;
    background:#F2F2F2;
    padding:1ex 0 1em 2em;
    padding:1em 0 1em 
    1em\9;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ .search_list {width:550px;padding:1ex 0 1em 1em;} }/*for chrome*/
.search_list_td{
	text-align:right;
	padding:1em 4.5em 0 0;
	padding:1em 3em 0 0 \9;
	*padding:.5em 1.2em .5em 1em;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ .search_list_td {padding:1em 1em 0 0;} }/*for chrome*/
.search_criteria_go_btn{
	background:url(../img/common/history-spesific.gif) no-repeat;
   	width:30px;
   	height:20px;
   	border: none;
   	color:white;
   	font-size:12px;
   	font-family:Lucida Sans Unicode;
   	margin-right:1em;
}
.search_criteria_clear_btn{
	background:url(../img/common/history-spesific-clear.gif) no-repeat;
   	width:50px;
   	height:20px;
   	border: none;
   	color:white;
   	font-size:12px;
   	font-family:Lucida Sans Unicode;
}
.edit_searchInterval{
	*padding:5px 0 0 1em;
}
.edit_datepickerstartend{
	*padding:5px 0 0 1em;
}
/* ------ admin history css (end) --------- */

/* ------ erroe style css (start) -------*/
#serverErrors{
	padding: 1em 0 0 4em;
    text-align: left;
    color:red;
}
#usergroupErrors{
	padding: 1em 0 0 4em;
    text-align: left;
    color:red;
}
.errorMessage{
	margin: 0;
    padding: 0 0 0 1.2em;
}
.errorMessageHeader{
	color:red;
 } 
.portaluserErrors{
	text-align:left;
	color:red;
	padding:1em 0 0 4em;
}

/* ------ datepicker style css (start) -------*/
.ui-datepicker-prev{
	background: url(../img/common/date-prev.png) no-repeat;
	left:5px!important; 
	_background-image: none;
 	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/common/date-prev.png', sizingMethod='crop');
}
.ui-datepicker-prev-hover{
	background: url(../img/common/date-prev.png) no-repeat 2px 2px!important;
	background-color:#808080!important; 
	border:1px solid #808080!important;
	top:2px!important;
	left:2px!important;
	/* for IE6 */
	_background-image: none!important;
 	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/common/date-prev.png', sizingMethod='crop')!important;
 	_border:none!important;
 	_background-color:none !important;
 	_margin-top:2px!important;
	_margin-left:2px!important;
}
.ui-datepicker-next{
	background: url(../img/common/date-next.png) no-repeat; 
	_background-image: none;
 	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/common/date-next.png', sizingMethod='crop');
}
.ui-datepicker-next-hover{
	background: url(../img/common/date-next.png) no-repeat 2px 2px!important; 
	background-color:#808080!important; 
	border:1px solid #808080!important;
	top:2px!important;
	right:2px!important;
	/* for IE6 */
	_background-image: none!important;
 	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/common/date-next.png', sizingMethod='crop')!important;
 	_border:none!important;
 	_background-color:none !important;
 	_margin-top:2px!important;
	_margin-right:0!important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	top:5px;
	height:27px;
	position:absolute;
	width:27px;
}

/* ------ dialog style css (start) -------*/
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget-content { border: 1px solid #E1E1E1; background: #ffffff; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header {
	border: 1px solid #aaaaaa;
	color: #222222; 
	font-weight: bold; 
	background: #cccccc url(../img/common/table-title-grey.gif)  repeat-x; 
	width:auto;
}
.ui-widget-header a { color: #222222; }
.ui-resizable-se { 
	cursor: se-resize; 
	width: 12px; 
	height: 12px; 
	right: 1px; 
	bottom: 1px; 
	background:url(../img/common/dialog-resizable.png)  no-repeat; 
	/* png fix for IE6 */
	_background-image: none;
 	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/common/dialog-resizable.png', sizingMethod='crop');
}

/* ------ header style css (start) -------*/
#ovl
{
	display:none;
	background-color:black;
	position:absolute;
	left:0;
	top:0;
	z-index:9998;
	width:100%;
	height:100%;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity:0.85;
}

#osd {
	padding:1.5em 5em;
	z-index:9999;
	position:absolute;
	top:0;
	left:0;
	border:1px white solid;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #666666 ;
    background: url(../img/common/ajax-loader.gif) no-repeat 1em 1em;
	background-color:#333333;
	display:none;
}
#osdtext {
	color:white;
	font:28px sans-serif;
	text-shadow:2px 3px 2px #000000;
	white-space: nowrap;
	padding-left:1em;
}
