.container {
	border-width:	0;
	overflow:		hidden;
	padding:		0;
	display:		none; /* hide panes until layout initializes */
}

.ui-layout-pane { /* all 'panes' */
	background:	#FFF;
	border:		0;
	padding:	0;
	overflow:	auto;
	display:block;
}

.layout-content-container {
	padding:	0;
	overflow:	hidden;
}

.ui-layout-content {
	padding:	0;
	position:	relative; /* contain floated or positioned elements */
	overflow:	auto; /* add scrolling to content-div */
}


/*	RESIZER-BARS */

.ui-layout-resizer	{
	background: url(../img/common/resizer-blue.gif) repeat-x;
	border:			1px solid #95BAFF;
	border-width:	1px;
}

.ui-layout-resizer-dragging {
	background: url(../img/common/resizer-grey.gif) repeat-x;
}

.ui-layout-resizer-dragging {
	border: 1px solid #6699FF;
}

.ui-layout-resizer-dragging-limit {
	background: #B5FFFF;
}

.ui-layout-resizer-closed-hover	{
	background: #B5FFFF;
}

.ui-layout-toggler {
	background: url(../img/common/resizer-switch.gif) repeat-x;
}

.ui-layout-toggler-north, .ui-layout-toggler-south {
    border-width: 0;
}

.ui-layout-toggler-hover , /* need when NOT resizable */
	.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity when IS resizable */
	background-color: #91C0E3;
	opacity: 1.00;
	filter:  alpha(opacity=100);
}
