<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:p="http://www.springframework.org/schema/p" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-2.5.xsd
	   ">
	
	<!-- Proper separation of concerns : web to service layer -->
	<context:component-scan base-package="com.mycompany.web" />	
	<context:annotation-config/>
	<!-- <context:spring-configured/> -->
    <context:load-time-weaver
            weaver-class="org.springframework.instrument.classloading.ReflectiveLoadTimeWeaver"/>
                    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename"><value>messages</value></property>
    </bean>
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
        <property name="prefix"><value>/jsp/</value></property>
        <property name="suffix"><value>.jsp</value></property>
    </bean>
    
    <!-- cannot use this when annotations driven -->
    <!-- listcontacts redirects to listcontacts.jsp -->
    <!-- 
    <bean name="/addcontact.htm" class="com.mycompany.web.AddContactFormController">
        <property name="sessionForm" value="true"/>
        <property name="commandName" value="contact"/>
        <property name="commandClass" value="com.mycompany.Contact"/>
        
        <property name="validator">
            <bean class="com.mycompany.service.AddContactValidator"/>
        </property>
        <property name="formView" value="addcontact"/>
        <property name="successView" value="listcontacts"/> 
        <property name="contactApp" ref="contactApp"/>
    </bean>
 	-->
	<bean name="/welcome.htm" 
		class="com.mycompany.web.ContactAppController" />

 		
</beans>        