<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>springwebapp</display-name>
  
	<!-- <param-value>classpath:applicationContext.xml</param-value> -->
	<!-- <param-value>classpath:/springwebapp-servlet.xml</param-value> -->
  <!-- context listener requires context config -->
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		/WEB-INF/springwebapp-servlet.xml
		classpath:testData.xml
	</param-value>
  </context-param> 		
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

<!-- 
Upon initialization of a DispatcherServlet, the framework looks for a file named [servlet-name]-servlet.xml 
in the WEB-INF directory of your web application and creates the beans defined there, overriding the definitions 
of any beans defined with the same name in the global scope.
No WebApplicationContext found: no ContextLoaderListener registered?
八月 04, 2013 2:44:54 下午 com.sun.jersey.spi.spring.container.servlet.SpringServlet getContext
資訊: Using default applicationContext
-->
  <servlet>
    <servlet-name>springwebapp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/springwebapp-servlet.xml</param-value>
	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springwebapp</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
   
  <!-- <servlet>
    <servlet-name>jaxws-servlet</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jaxws-servlet</servlet-name>
    <url-pattern>/ContactAppService</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>jersey-serlvet</servlet-name>
	<servlet-class>
		com.sun.jersey.spi.spring.container.servlet.SpringServlet
	</servlet-class>
	<init-param>
		<param-name>
          com.sun.jersey.config.property.packages
        </param-name>
		<param-value>com.mycompany</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>jersey-serlvet</servlet-name>
	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping> -->

	<!-- <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping> -->
    	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
</web-app>